{% extends 'base.html' %}
{% block content %}
    <h1>Welcome to StockInsight360.com</h1>
    <p>Welcome to StockInsight360.com, your ultimate destination for stock market insights and analysis. Whether you're a seasoned investor or just starting out, our platform provides valuable tools and resources to help you make informed decisions about your investments.</p>
    <p>Explore our comprehensive database of stocks, filter by industry, price range, IPO date, and more to find the perfect investment opportunities for your portfolio. Our advanced analytics engine analyzes historical trends, market data, and company performance to identify the top 5 stocks to buy and 5 stocks to avoid, tailored to your investment preferences.</p>
    <p>If you're already invested in stocks, use our tracking feature to monitor your investments and receive personalized recommendations based on your portfolio holdings. Stay informed with the latest news and updates about the stock market and individual companies, so you can stay ahead of the curve.</p>
    <p>Sign up now to unlock the full potential of StockInsight360.com and take your investing to the next level!</p>
    <a href="{{ url_for('signup') }}" class="btn btn-primary">Sign Up</a>
{% endblock %}
